#local-contexts-content {
    @include container;
    color: $color__main-text;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;

    a {
        color: $color__link;
    }

    .notice {
        align-items: flex-start;
        padding: 1rem;

        @media (min-width: $xl) {
            width: 50%;
        }
    }

    .notice-name {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }

    .local-contexts-notice {
        width: auto;
    }
}
