body.contribution {
    #contribution-type-form {
        margin-top: 2rem;

        .field {
            margin-bottom: 1rem;
        }
    }

    #contribution-confirm-submit {
        p {
            margin-bottom: 0;
        }
    }

    #form-submit {
        margin-top: 1rem;
    }
}
